:root{
    /* Colors */

    --primaryRed:hsl(0, 78%, 62%);
    --primaryCyan:hsl(180, 62%, 55%);
    --primaryOrange:hsl(34, 97%, 64%);
    --primaryBlue:hsl(212, 86%, 64%);

    /* Neutral */

    --neutralVeryDarkBlue:hsl(234, 12%, 34%);
    --neutralGrayishBlue:hsl(229, 6%, 66%);
    --neutralVeryLightGray:hsl(0, 0%, 98%);


    /* Font */

    --font:'Poppins', sans-serif;

}

html{
    box-sizing: border-box;
    font-size:  62.5%;
    height: 100%;
    
}

*, *:before, *:after{
    box-sizing: inherit;

}


body{
    height: 100vh;
    font-family: var(--font);
    background-color: var(--neutralVeryLightGray);
   
}

.container{
        height: 100vh;        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 7rem 2rem 2rem 2rem;
        
}

.text{
    text-align: center;
    line-height: 1;
}
.text h1,h2{
    color: var(--neutralVeryDarkBlue);
    font-size:2rem;
}
.text h2{    
    font-weight: 300;
    margin: 0;
}
.text h1{
        
    margin: .5rem 0 0 0;
    
}
.text p{
    margin: 2rem auto;
    width: 70%;
}
.contain{

}
@media (min-width: 768px) {
    .container{
        
        padding: 8rem 10rem 2rem 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    .text{
        text-align: center;
        line-height: 1.3;
    }
    .text h1,h2{
        color: var(--neutralVeryDarkBlue);
        font-size:3.6rem;
    }
    
  
    
    .text p{
        margin: 2rem 0 0 0;
        font-size: 1.5rem;
        color: var(--neutralGrayishBlue);    
        font-weight: 400;
        line-height: 1.5;
    }
    
    /* Contain */
    
    .contain{
        margin: 4rem 0 0 0;
        height: 60rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 3rem;
        grid-template-areas: 
        ". contain__center ."
        "d1 contain__center d4"
        ". contain__center .";
    }
    
    .card{
        width: 35rem;
        height: 25rem;
        padding: 3rem;
        border-radius: .5rem;
        background-color: white;
        -webkit-box-shadow: 0px 13px 16px -3px rgba(37,70,107,0.19); 
        box-shadow: 0px 13px 16px -3px rgba(37,70,107,0.19);
       
        
    }
    
    .card h1{
        margin: 0;
        color: var(--neutralVeryDarkBlue);
        
    }
    
    .card p{
        color: var(--neutralGrayishBlue);
        line-height: 1.8;
        font-size: 1.3rem;
        font-family: 300;
    }
    
    
    .card img{
        position: relative;
        float: right;
        width: 6.3rem;
        bottom: -15%;
        right: 1.1%;
       
       
        
    }
    .contain__center{
        grid-column: 2/3;
        grid-area: contain__center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
    .d1{
        border-top: .4rem solid var(--primaryCyan);
        grid-column: 1/2;
        grid-row: 2/3;
        grid-area: d1;
    }
    
    .d2{
        border-top: .4rem solid var(--primaryRed);
        
        
    }
    
    .d3{
        border-top: .4rem solid var(--primaryOrange);
        
    }
    
    
    .d4{
        grid-column: 3/4;
        grid-row: 2/3;
        border-top: .5rem solid var(--primaryBlue);
        grid-area: d4;
    }

}
